*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-size: 1rem;
    color: #333;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

span{
    font-family: 'Roboto Condensed', sans-serif;
    color: #f39c12;
}

a{
    text-decoration: none;
    color: inherit;
}


