.navbar-header {
    background: #f39c12;
}
.logo {
    margin: 0;
    padding-inline-start: 1rem;
    width: 40%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem ;
    color: #fff;
}

input[name="search"]{
    font-size: 1.8rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    width: 25rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px #333 solid;
    margin-inline-end: 0.5rem;
}

input[name="search"]::placeholder{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    color: #333;
}

/* BTN */

.btn{
    font-size: 1rem;
    font-weight: bold;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.btn-search{
    padding: 8px 8px;
    background: #f39c12;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem ;
    color: #333;
    border-bottom: 3px solid #333;
    border-radius: 50%;
}

.btn-my-location{
    background: inherit;
    border-radius: 0;
    padding: 0.5rem;
    border: 3px solid #333;
}
  

.location-title{
    font-family: 'Noto Sans', sans-serif;
}

.location-title span{
    font-family: 'Roboto Condensed', sans-serif;
    color: #f39c12;
}


/* Table */

.tbl{
    width: 100%;
    padding: 1rem;

}

.tbl th{
    font-size: 2rem;
    color: #333;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 2rem;
}

.tbl th:first-child{
    border-bottom: 4px solid #f39c12;
}

.tbl td{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.tbl .btn{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.tbl .btn-go{
    border: 2px solid #1e90ff;
}

.tbl .btn-delete{
    border: 2px solid #ff4757;
}

.tbl .btn-go:hover{
    background: #1e90ff;
    color: white;
}

.tbl .btn-delete:hover{
    background: #ff4757;
    color: white;
}




/* Footer */
.developer-container h3{
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;}

.developer-container h3 span{
    font-family: 'Permanent Marker', cursive;
}
.fa-github{
    color: #f39c12;
}






