.container{
    max-width: 2200px;
    width: 100%;
}

.header-container{
    width: 100%;
    height: 8%;
}

.search-container{
    padding: 0.5em 4em;
}

.main-container{
    max-width: 1900px;
    width: 100%;
    height: 83%;
    padding: 1rem;
    margin: auto;
    background: #f0efef;
}
  
.weather-container{
    width: 70%;
    height: 10%;
    border-bottom: 2px solid rgb(52, 52, 59);
    padding: 1rem;
}

.location-container{
    flex-grow: 1;
    height: 80%;
    width: 100%;
}

.map-container{
    width: 60%;
    height: 100%;
    padding: 1rem;
    flex-grow: 1;
}

.table-container{
    flex-grow: 1;
    height: 97%;
    border-right: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid #f39c12;
    overflow-y: auto;
}

.footer-container{
    width: 100%;
    height: 9%;
    background: #f0efef;
    border-top: 4px solid  #f39c12;
}

.developer-container{
    width: 20%;
}